In [59]:
import pandas as pd

votos = pd.read_csv('/Users/miryamdominguez/Downloads/DATOS ELECCIONES 2016/08021606BUENO.CSV', index_col=False )
votos.head()

                   codigo_elecciones
0  022016061011190000490000076700000
1  022016061011490000280000033000000
2  022016061011490000940000070800000
3  022016061011890000810000076300000
4  022016061019990000680142625800023

In [103]:
def get_cosas (x):
    foo = x['codigo_elecciones']
    tipo_eleccion = []
    ano_eleccion = []
    mes_eleccion = []
    num_vuelta = []
    codigo_comunidad = []
    codigo_ine = []
    codigo_distrito = []
    codigo_candidatura = []
    votos_obtenidos = []
    num_candidatos = []
    for i in range(len(foo)):
        tipo_eleccion.append(foo[i][:2])
        ano_eleccion.append(foo[i][2:6])
        mes_eleccion.append(foo[i][6:8])
        num_vuelta.append(foo[i][8:9])
        codigo_comunidad.append(foo[i][9:11])
        codigo_ine.append(foo[i][11:13])
        codigo_distrito.append(foo[i][13:14])
        codigo_candidatura.append(int(foo[i][14:20]))
        votos_obtenidos.append(int(foo[i][20:28]))
        num_candidatos.append(int(foo[i][28:33]))
    d = {'tipo_eleccion':tipo_eleccion,'ano_eleccion':ano_eleccion,'mes_eleccion':mes_eleccion,'num_vuelta':num_vuelta,
         'codigo_comunidad':codigo_comunidad,'codigo_ine':codigo_ine,'codigo_distrito':codigo_distrito, 
         'codigo_candidatura':codigo_candidatura, 'votos_obtenidos':votos_obtenidos,'num_candidatos': num_candidatos}
    datos_elecciones_2016 = pd.DataFrame(d)
    return datos_elecciones_2016

my_data = get_cosas(votos)
my_data

,tipo_eleccion,ano_eleccion,mes_eleccion,num_vuelta,codigo_comunidad,codigo_ine,codigo_distrito,codigo_candidatura,votos_obtenidos,num_candidatos
0,02,2016,06,1,01,11,9,49,767,0
1,02,2016,06,1,01,14,9,28,330,0
2,02,2016,06,1,01,14,9,94,708,0
3,02,2016,06,1,01,18,9,81,763,0
4,02,2016,06,1,01,99,9,68,1426258,23
...,...,...,...,...,...,...,...,...,...,...
822,02,2016,06,1,16,99,9,81,312,0
823,02,2016,06,1,17,03,9,93,1961,0
824,02,2016,06,1,17,12,9,94,711,0
825,02,2016,06,1,17,46,9,83,570,0
826,02,2016,06,1,17,99,9,77,539278,6