In [2]:
import pandas as pd
import re
# Leemos el CSV con los códigos por provincia eliminando las 5 primeras columnas que ya
# hemos visto que no son relevantes.

In [10]:
# Función TOCHA TOCHA
bbdd = ["Alava","Albacete","Alicante","Almeria","Asturias","Avila","Badajoz","Barcelona",
        "Bizkaia","Burgos","Caceres","Cadiz","Cantabria","Islas Baleares","Castellon","Ceuta","Ciudad Real",
        "Cordoba","Coruña","Cuenca","Gipuzkoa","Girona","Granada","Guadalajara","Huelva","Huesca","Jaen","La Rioja",
        "Las Palmas","Leon","LLeida","Lugo","Madrid","Malaga","Melilla","Murcia","Navarra","Ourense","Palencia","Pontevedra",
       "Salamanca","Santa Cruz de Tenerife","Segovia","Sevilla","Soria","Tarragona","Teruel","Toledo","Valencia",
        "Valladolid","Zamora","Zaragoza"]
def get_BBDD_rentas (bbdd):
    #Carga de ficheros CSV
    base = []
    NIE = []
    renta = []
    poblacion = []
    provincias = []
    for i in bbdd:
        provincia = i
        datos = pd.read_csv('datos_renta/'+i+'.csv', index_col=False,encoding='iso-8859-1'
                            ,sep=';',skiprows=5, decimal= ',',thousands='.')
        datos.rename(columns={'Unnamed: 0':'identificador','2016':'renta'},inplace=True)
        datos.drop(datos.tail(3).index,inplace=True)
        for i in range(len(datos.identificador)):
            provincias.append(provincia)
        for i in range(len(datos.identificador)):
            NIE_value = int(re.findall("[0-9]+", datos.identificador[i])[0])
            NIE.append(NIE_value) 
        for i in range(len(datos.identificador)):
             nombre = re.findall("[a-zA-Záéíóúñ\\- /]+", datos.identificador[i])[0]
             nombre = re.sub(" sección","",nombre)
             nombre = re.sub(" secci","",nombre)
             poblacion.append(nombre)
        for i in range(len(datos.identificador)):
            if datos.renta[i] == '.':
                datos.renta[i] = float('NaN')
            renta_value = float(datos.renta[i])
            renta.append(renta_value)
    d = {'provincia':provincias,'poblacion':poblacion,'NIE':NIE,'renta':renta}
    datos = pd.DataFrame(d)
    return datos

basedatos = get_BBDD_rentas(bbdd)
basedatos

      provincia             poblacion         NIE    renta
0         Alava   Agurain/Salvatierra        1051  12374.0
1         Alava      Alegría-Dulantzi        1001  13086.0
2         Alava               Amurrio        1002  13691.0
3         Alava                 Añana        1049  15548.0
4         Alava               Aramaio        1003  17194.0
...         ...                   ...         ...      ...
37016  Zaragoza              Zaragoza  5029712010  14085.0
37017  Zaragoza                 Zuera  5029801001  12307.0
37018  Zaragoza                 Zuera  5029801002  10848.0
37019  Zaragoza                 Zuera  5029801003  10726.0
37020  Zaragoza                 Zuera  5029802001  12449.0

[37021 rows x 4 columns]