In [39]:
import pandas as pd
import re
# Leemos el CSV con los códigos por provincia eliminando las 5 primeras columnas que ya
# hemos visto que no son relevantes.
bizkaia = pd.read_csv('Bizkaia.csv', index_col=False,encoding='iso-8859-1',sep=';',skiprows=5)
bizkaia.head(10)

                                          Unnamed: 0    2016
0                   4800101001 Abadiño sección 01001  16.437
1                   4800101002 Abadiño sección 01002  13.468
2                   4800101003 Abadiño sección 01003  11.908
3                   4800101004 Abadiño sección 01004  14.471
4                   4800101005 Abadiño sección 01005  15.348
5  4800201001 Abanto y Ciérvana-Abanto Zierbena s...  12.440
6  4800201002 Abanto y Ciérvana-Abanto Zierbena s...  11.843
7  4800201004 Abanto y Ciérvana-Abanto Zierbena s...  11.482
8  4800201005 Abanto y Ciérvana-Abanto Zierbena s...  12.327
9  4800202001 Abanto y Ciérvana-Abanto Zierbena s...  12.929

In [69]:
# Función TOCHA TOCHA
bbdd = ["Alava","Albacete","Alicante","Almeria","Asturias","Avila","Badajoz","Barcelona",
        "Bizkaia","Burgos","Caceres","Cadiz","Cantabria","Islas Baleares","Castellon","Ceuta","Ciudad Real",
        "Cordoba","Coruña","Cuenca","Gipuzkoa","Girona","Granada","Guadalajara","Huelva","Huesca","Jaen","La Rioja",
        "Las Palmas","Leon","LLeida","Lugo","Madrid","Malaga","Melilla","Murcia","Navarra","Ourense","Palencia","Pontevedra",
       "Salamanca","Santa Cruz de Tenerife","Segovia","Sevilla","Soria","Tarragona","Teruel","Toledo","Valencia",
        "Valladolid","Zamora","Zaragoza"]
def get_NIE_poblacion (bbdd):
    #Carga de ficheros CSV
    base = []
    NIE = []
    renta = []
    poblacion = []
    for i in bbdd:
        print(i)
        datos = pd.read_csv('datos_renta/'+i+'.csv', index_col=False,encoding='iso-8859-1',sep=';',skiprows=5)
        datos.rename(columns={'Unnamed: 0':'identificador','2016':'renta'},inplace=True)
        datos.drop(datos.tail(3).index,inplace=True)
        for i in range(len(datos.identificador)):
            NIE_value = int(re.findall("[0-9]+", datos.identificador[i])[0])
            NIE.append(NIE_value) 
        for i in range(len(datos.identificador)):
             nombre = re.findall("[a-zA-Záéíóúñ\\- /]+", datos.identificador[i])[0]
             nombre = re.sub(" sección","",nombre)
             nombre = re.sub(" secci","",nombre)
             poblacion.append(nombre)
        for i in range(len(datos.identificador)):
            if datos.renta[i] == '.':
                datos.renta[i] = float('NaN')
            renta_value = float(datos.renta[i])
            renta.append(renta_value)
    d = {'poblacion':poblacion,'NIE':NIE,'renta':renta}
    datos = pd.DataFrame(d)
    return datos

basedatos = get_NIE_poblacion(bbdd)
basedatos

Alava
Albacete
Alicante
Almeria
Asturias
Avila
Badajoz
Barcelona
Bizkaia
Burgos
Caceres
Cadiz
Cantabria
Islas Baleares
Castellon
Ceuta
Ciudad Real
Cordoba
Coruña
Cuenca
Gipuzkoa
Girona
Granada
Guadalajara
Huelva
Huesca
Jaen
La Rioja
Las Palmas
Leon
LLeida
Lugo
Madrid
Malaga
Melilla
Murcia
Navarra
Ourense
Palencia
Pontevedra
Salamanca
Santa Cruz de Tenerife
Segovia
Sevilla
Soria
Tarragona
Teruel
Toledo
Valencia
Valladolid
Zamora
Zaragoza

                  poblacion         NIE      renta
0       Agurain/Salvatierra        1051     12.374
1          Alegría-Dulantzi        1001     13.086
2                   Amurrio        1002     13.691
3                     Añana        1049     15.548
4                   Aramaio        1003     17.194
...                     ...         ...        ...
37016              Zaragoza  5029712010  14085.000
37017                 Zuera  5029801001  12307.000
37018                 Zuera  5029801002  10848.000
37019                 Zuera  5029801003  10726.000
37020                 Zuera  5029802001  12449.000

[37021 rows x 3 columns]